apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: mysql-ns
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/managed-by: manual
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: <mysql-root-password>
  MYSQL_PASSWORD: <mysql-password>